<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>F1 Management System</title>
</head>
<body>
  <h1>Welcome to the F1 Management System!</h1>

  <h2>Selections:</h2>
  <ul>
    <li><a href="/teams-page">Teams</a></li>
    <li><a href="/drivers-page">Drivers</a></li>
    <li><a href="/mechanics-page">Mechanics</a></li>
    <li><a href="/cars-page">Cars</a></li>
    <li><a href="/races-page">Races</a></li>
    <li><a href="/participations-page">Participation's</a></li>
  </ul>
</body>
</html>