<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Participation's</title>
</head>
<body>
    <h1>Participation's Page</h1>
    <ul id="participations-list">
        <li th:each="participation : ${participations}"
            th:attr="data-participation-car=${participation.car}, data-participation-race=${participation.race}">
            Race: <span th:text="${participation.race.name}"></span> - Date: <span th:text="${participation.race.getPrintedDate()}"></span> - Driver: <span th:text="${participation.car.driver.name}"></span>
        </li>
    </ul>
    <a href="/">Back to Homepage</a>
</body>
</html>